<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>男丁格爾's 脫殼玩 - AngularJS</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>

</head>
<body>
<div class="span7" style="margin-top:20px;" ng-controller="TableFilterCtrl">
	<div>
		<label>Search:</label>
		<input type="text" ng-model="search.$">
		<label>Name:</label>
		<input type="text" ng-model="search.name">
		<label>Skills:</label>
		<input type="text" ng-model="search.skills">
		<label>Limits:</label>
		<input type="number" ng-model="maxNum">
		<label>Equality:<input type="checkbox" ng-model="strict"></label>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<td>編號</td>
				<td ng-click="orderByField('name')">名稱</td>
				<td ng-click="orderByField('age')">年齡</td>
				<td ng-click="orderByField('skills')">專長</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="friend in friends | orderBy:field:reverse | limitTo:maxNum | filter:search:strict">
				<td>{{ $index + 1 }}</td>
				<td>{{ friend.name | uppercase}}</td>
				<td>{{ friend.age }}</td>
				<td>{{ friend.skills.join(', ') }}</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	var TableFilterCtrl = function($scope,$filter){
		//欄位的初始值
		$scope.field = 'name' ;
		//顯示筆數的初始值
		$scope.maxNum = 5;
		//boolean參數來指定是否'反'向排序： false --->正向排序
		$scope.reverse = false ;
		
		$scope.orderByField= function(field) {
			//用來判斷是否點擊相同的標題，如果是的話才反轉排序方式，否的話就從正向排序開始
			$scope.reverse = ($scope.field == field)? !$scope.reverse : false;
			$scope.field = field;
		}
		
		
		
		$scope.friends = [{
			name: '男丁格爾', 
			age: 18,
			skills: [ 'jQuery', 'JavaScript', 'Angular.js' ]
		}, {
			name: 'jelly', 
			age: 16,
			skills: [ 'Photoshop', 'Flash' ]
		}, {
			name: '梅干桑', 
			age: 30,
			skills: [ 'Photoshop', 'Camera', 'Wordpress' ]
		}, {
			name: '莫希爾', 
			age: 31,
			skills: [ 'Php', 'Android', 'UX' ]
		}, {
			name: '漩渦鳴人', 
			age: 17,
			skills: [ '色誘術', '後宮術', '螺旋丸', '尾獸玉' ]
		}, {
			name: '蒙其·D·魯夫', 
			age: 19,
			skills: [ '橡膠槍', '橡膠火箭砲', '換檔', '霸氣' ]
		}, {
			name: '羅羅亞·索隆', 
			age: 21,
			skills: [ '無刀流', '煩惱鳳', '阿修羅', '霸氣' ]
		}, {
			name: '娜美', 
			age: 20,
			skills: [ '天候棒', '魔法天候棒', '棍術' ]
		}, {
			name: '騙人布', 
			age: 19,
			skills: [ '鐵鎚', '超巨大火鳥星', '必殺‧鐵人彗星' ]
		}, {
			name: '香吉士', 
			age: 21,
			skills: [ '肩肉 SHOOT', '惡魔風腳', '六式', '霸氣' ]
		}, {
			name: '多尼多尼·喬巴', 
			age: 17,
			skills: [ '腳力強化', '頭腦強化', '彈力強化', '毛皮強化', '腕力強化' ]
		}, {
			name: '妮可·羅賓', 
			age: 30,
			skills: [ '眼花繚亂', '六十輪花', '百花繚亂', '萬紫千紅' ]
		}, {
			name: '佛朗基', 
			age: 36,
			skills: [ '佛朗基火球', '風來噴射', '鋼鐵海賊', '佛朗基將軍', '將軍砲' ]
		}, {
			name: '布魯克', 
			age: 90,
			skills: [ '催眠曲·輪舞', '鼻唄三丁·矢筈斬', '冰凍劍', '哼歌·吹雪斬' ]
		}];

		
	};
</script>

</body>
</html>